.side-bar img{
    width:25px;
    height:25px;
}
.side-bar h3{
    display: inline;
}
.side-bar{
    display:flex;
    flex-direction: column;
    background-color: white;
    width:20%;
    height:100vh;
    gap:40px;
    position: fixed;
}
.topic-card:hover{
    background-image: linear-gradient(rgb(225, 141, 225),rgb(132, 132, 234));
    border-style:groove;
    border-top-color:blue;
    border-bottom-color: magenta;
     border-left-color:blue;
    border-right-color: magenta;
    font-size: large;
    border-radius: 50px;
}
.topic-card img:hover{
    width:30px;
    height:30px;
}
.topic-card{
    display :flex;
    align-items: center;
}
.side-bar .topic-card{
    padding-left:20px;
}
.topic-card:first-child{
    margin-top:20px;
}
.topic-card h3{
    padding-left:20px;
}
h1{
   background-image: linear-gradient(rgb(225, 141, 225),rgb(132, 132, 234));
   border-style:groove;
    border-top-color:blue;
    border-bottom-color: magenta;
     border-left-color:blue;
    border-right-color: magenta;
    padding:10px;
    float:right;
    border-radius: 50px;
    }
body{
    background-color: whitesmoke;
    margin:20px;
}
.main-content{
    width:70%;
    margin-left:30%;
    display:flex;
    flex-direction:column;
    gap:40px;
    font-size: x-large;
}
.option-card{
    background-color: white;
    display: flex;
    flex-direction:column;
    gap:10px;
    margin-top:15px;
    padding:20px;
    border-radius:20px;
}
.main-content #submit{
    background-color: rgb(159, 240, 159);
    border-radius: 50px;
    border-style:none;
    width:10%;
    padding:10px;
    font-weight: bold;
    margin-left:70%;
}
.main-content #submit:hover{
    padding:15px;
    background-color:green;
}

.main-content #submit:disabled{
    background-color:gray;
}